@import '../../../assets/styles/variables';

.navigation {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.nav_content {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: block;
    user-select: none;
}

.right {
    .nav_list {
        li a {
            color: $light;
            text-decoration: none;
            transition: 0.3s ease-in;
        }

        li a:hover {
            color: $white;
            transition: 0.2s ease-out;
        }

        li {
            margin-right: 20px;
        }

        :last-child {
            margin: 0;
        }
    }
}

.menu {
    cursor: pointer;
    display: none;
    img {
        display: block;
        height: 40px;
        width: 40px;
        filter: brightness(0) invert(0.8);
        user-select: none;
        transition: 0.3s ease-in;
    }

    img:hover {
        filter: brightness(0) invert(1);
        transition: 0.2s ease-out;
    }
}

.navigation.active {
    background: $black;
    opacity: 0.8;
}


@media only screen and (max-width: $s) {
	.menu {
        display: block;
    }

    .hidden {
        display: none;
    }
}