// Fonts Inter and Blinker

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&family=Inter:wght@400;700&display=swap');

// Colors

$black: #000000;
$white: #FFFFFF;
$white-safe: #F0F0F0;

$accent: #93C63F;

$dark: #333333;
$light: #C0C0C0;
