@use 'sass:math';
@import '_variables';

html {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
}
code,
pre {
	font-family: courier new, Courier, monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $dark;
	max-width: 50rem;
}
h1 {
	font-weight: bold;
	line-height: 1.05;
	margin-bottom: 1.7239rem;
}
h2 {
	font-weight: bold;
	line-height: 1.15;
	margin: 2.1393rem 0 1.5rem;
}
h3 {
	font-weight: bold;
	line-height: 1.25;
	margin: 1.86375rem 0 1rem;
}
h4 {
	font-weight: bold;
	margin: 1.5rem 0 1rem;
}
h5 {
	font-weight: bold;
	margin-top: 1.5rem;
}
p {
	color: $dark;
	margin-bottom: m(math.div(2, 3));
}
/*
a {
//	color: var(--accent50);
}
a:visited {
//	color: var(--accent70);
}
a:hover {
//	color: var(--accent40);
}
a:visited:hover {
//	color: var(--accent55);
}
*/

ul {
    display: flex;
}

li {
	max-width: 50rem;
//	color: var(--base90);
}
hr {
	border: 0;
	border-top: 1px solid $light;
	width: 50rem;
	margin: 1rem 0;
}

.container {
    width: 1400px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
