@use 'sass:math';
@import '_variables';

html {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
}
code,
pre {
	font-family: courier new, Courier, monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $dark;
	font-family: 'Blinker', Arial, sans-serif;
	font-weight: 400;
}
h1 {
	font-size: 68px;
	line-height: 1.05;
}
h2 {
	line-height: 1.15;
	font-size: 40px;
}
h3 {
	line-height: 1.25;
	font-size: 32px;
}

p {
	color: $dark;
	font-size: 20px;
	margin-top: 18px;
	font-family: 'Inter', 'Roboto', sans-serif;
}

span {
	display: inline-block;
}
/*
a {
//	color: var(--accent50);
}
a:visited {
//	color: var(--accent70);
}
a:hover {
//	color: var(--accent40);
}
a:visited:hover {
//	color: var(--accent55);
}
*/

ul {
    display: flex;
}

li {
	max-width: 50rem;
//	color: var(--base90);
}
hr {
	border: 0;
	border-top: 1px solid $light;
	width: 50rem;
	margin: 1rem 0;
}

.container {
	position: relative;
    width: 1384px;
    padding: 0;
    margin: 0 auto;
	padding: 0 50px;
}

/*
	Responsive container
*/


@media only screen and (max-width: $xl) {
	.container {
		width: 1124px;
		padding: 0 42px;
	}
}

@media only screen and (max-width: $l) {
	.container {
		width: 944px;
		padding: 0 36px;
	}
}

@media only screen and (max-width: $m) {
	.container {
		width: 704px;
		padding: 0 20px;
	}

	p {
		font-size: 18px;
	}
}

@media only screen and (max-width: $s) {
	.container {
		width: 100%;
		padding: 0 20px;
	}
}

@media only screen and (max-width: $xs) {
	.container {
		width: 100%;
		padding: 0 16px;
	}

	p {
		font-size: 16px;
	}

}